// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
.index-entry-title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  letter-spacing: 0;
  font-size: 30px;
}

.post-entry-title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  letter-spacing: 0;
  font-size: 60px;
  line-height: 120px;
  font-family: 'tahuregular';
}

.entry-content {
  font-size: 15px;
  padding-bottom: 15px;

  a {
    color: #00cc96
  }

  h4, h5, h6 {
    color: #ff7f30
  }
}

.entry-featured-posts {
  margin: 0px;
  .wp-post-image {
    object-fit: cover;
    height: 256px;
  }
}

.card-featured-col {
  padding-left: 15px;
  padding-right: 15px;
}

.index-featured-post-title {
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 24px;
}

body {
  p {
    font-size: 15px;
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }
}

#wrapper-footer-full {
  padding: 0;
}


#main-menu.navbar-nav {
  .menu-item {
    .nav-link {
      color: #000;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.page-image-container {
  height: 400px;
  background-size:cover !important;
  background-repeat:no-repeat !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.page-banner-content-container{
  width: auto;
}

.page-entry-title {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  letter-spacing: 0;
  font-size: 30px;
  color: #fff;
}

.hero-image-container {
  position: relative;
  height:675px;
  width:100%;
  background-size:cover !important;
  background-repeat:no-repeat !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  object-fit: cover;
}

.hero-video {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.hero-banner-content-container{
  width: auto;
  text-align: center;
  z-index: 2;

  .hero-banner-button.btn {
    border-radius: 0;
    font-weight: 700;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 5px;

    &.btn-light {
      color: #000;
      background-color: #fff;
    }

    &.btn-dark {
      color: #fff;
      background-color: #000;
    }
  }
}

.hero-banner-title-single {
  font-family: 'tahuregular';
  font-size: 70px;
  line-height: 130px;
  color: #000;
}

.hero-banner-title {
  font-family: 'tahuregular';
  font-size: 110px;
  line-height: 130px;
  color: #fff;
}

.hero-banner-subtitle {
  line-height: 130px;
  color: #fff;
  font-size: 27px;
  line-height: 33px;
  padding-top: 11px;
  padding-bottom: 35px;
}


.hero-footer-container {
  height: 444px;
  width:100%;
  background-size:cover !important;
  background-repeat:no-repeat !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-footer-content-container{
  width: auto;

  .container-narrow {
    max-width: 900px;
  }

  .hero-footer-button.btn {
    border-radius: 0;
    font-weight: 700;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 5px;

    &.btn-light {
      color: #000;
      background-color: #fff;
    }

    &.btn-dark {
      color: #fff;
      background-color: #000;
    }
  }
}

.hero-footer-title {
  font-size: 30px;
  line-height: 37px;
  color: #fff;
  padding-bottom: 30px;
}

.footer-small-image {
  height: auto;
  width: 100%;
  margin-top: 100px;
  padding-left: 45px;
  padding-right: 45px;
}

#wrapper-footer-full.wrapper {
  background-color: #fff;
  padding-top: 40px;

  .menu-footer-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    #menu-footer {
      list-style-type: none;
      columns: 3;

      .menu-item {
        a {
          font-size: 13px;
          line-height: 30px;
          color: #000;
        }
      }
    }
  }
}

.footer-credits-container {
  padding-top: 40px;
  padding-bottom: 100px;

  .social-media-icons-container {
    text-align: center;

    a {
      color: #000;
      text-decoration: none;

      .social-media-icon {
        border-radius: 50%;
        border: 2px solid #000;
        width: 30px;
        height: 30px;
        display: inline-block;

        .fa-instagram {
          position: absolute;
          margin-left: -9px;
          margin-top: 3px;
          font-size: 22px;
        }

        .fa-facebook {
          position: absolute;
          margin-left: -7px;
          margin-top: 4px;
          font-size: 22px;
        }
      }
    }
  }

  .copyright-container {
    padding-top: 20px;
    text-align: center;

    .copyright-text {
      font-size: 12px;
      color: #000;
    }
  }

  .mt-container {
    text-align: center;
    font-size: 12px;
    color: #000;

    .mt-link {
      text-decoration: none;
      font-size: 12px;
      color: #000;
    }
  }
}

.footer-grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.footer-grid-item {
  padding: 5px;
}
@media (max-width: 670px){
  .footer-grid-container {
    display: grid;
    grid-template-columns: auto;
  }
  .hero-footer-button-container{
  padding: auto;
  }
  .hero-banner-title-single {
    font-size: 45px;
    line-height: 45px;
    text-align: center;
  }
}